
/*Prevent overscroll behaviour, primarily for webapp*/
html, body {
  height: 100%;
  overflow: hidden;
}

body 
{
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #000;
	background-color: white;
	padding:0px;
	margin:0px;
	text-align:center;
}

#UI
{
	background-color: white;
	width: 100%;
	height: 100vh;
}

.video 
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

.video img 
{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.overlay
{
	position: absolute;
	top: 0;
	left: 0;
}

.topbar
{
	display: flexbox;
}